{% extends "base.html" %}
{% block content %}
  <div class="categoriesList">
    <h2>Genres</h2>
    <ul>
      {% for g in genres %}
      <li><a href="{{url_for('genreListings', genre_id = g.id)}}">{{g.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="titles">
    <h2>Genre Titles</h2>
    <a href="{{url_for('mangaCreate', genre_id = genre_id)}}">Add new title</a>
    <ul>
      {% for m in manga %}
      <li><a href="{{url_for('mangaView', manga_id = m.id)}}">{{ m.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
