{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row">
    <div class="col-md-3">
      <h2>Genres</h2>
      <ul>
        {% for g in genres %}
        <li><a href="{{url_for('genreListings', genre_id = g.id)}}">{{g.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <h2>Latest Titles</h2>
      <ul>
        {% for lt in latest_titles %}
        <li><a href="{{url_for('mangaView', manga_id = lt.id)}}">{{ lt.name }}</a> - <i>{{ lt.genre.name }}</i></li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock content %}
